

/// colors
$blue : #1565c0;
$subBlue : #0e54a4;
$green : #00796b;
$red : #ee5151;
$yellow : #ffab00;
$orange : #ef7c27;
$violet : #6861ab;

$gray: #d1d1d1;
$lightGray: #f3f3f3;
$damedGray : #a8a8a8;
$borderColor: #e2e2e9;

$bgColor: lighten(#efeff4,1%);
$textColor : #4e595d;


//////// fonts
$fontIcon: 'FontAwesome';
$helvatica: 'helvatica';
$noto : 'Noto Sans';